$dino-red: #d24735;
$firefox-orange: #f26c23;
$market-orange: #f89c24;
$flame-yellow: #ffcd02;
$gecko-green: #7dc14c;
$summit-teal: #3bba99;
$mobile-blue: #16afe5;
$developer-blue: #4383bf;
$nightly-blue: #5a6ba4;
$aurora-purple: #ab5da4;
$bikeshed-magenta: #e14164;

$primary: $nightly-blue;
$secondary: $aurora-purple;
$success: $gecko-green;
$info: $mobile-blue;
$warning: $market-orange;
$danger: $dino-red;

nav.nav {
    .nav-link.active {
        box-shadow: 0 3px $flame-yellow;
    }
}

.bg-papertoy {
    overflow: hidden;
    position: relative;

    &:before {
        background-image: url(../images/papertoy.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        -webkit-filter: blur(0.65rem);
        -moz-filter: blur(0.65rem);
        -o-filter: blur(0.65rem);
        -ms-filter: blur(0.65rem);
        filter: blur(0.65rem);
        bottom: -1rem;
        left: -1rem;
        padding-top: 50%;
        position: absolute;
        right: -1rem;
        top: -1rem;
        z-index: 0;
    }

    > div {
        position: relative;

        h1, p {
        text-shadow: 0px 0px 2px #000;
        }
    }
}
