---
layout: default
---

<div class="container pt-4 pb-4">
    <main class="row">
        <article class="col-sm-10 offset-sm-1">
            <header>
                <h1>{{ page.title }}</h1>
                <p>
                    Publicado el
                    <time datetime="{{ page.date }}">
                        {{ page.date | date: "%d de" }} 
                        {% assign m = page.date | date: "%-m" %}
                        {% case m %}
                            {% when '1' %}enero
                            {% when '2' %}febrero
                            {% when '3' %}marzo
                            {% when '4' %}abril
                            {% when '5' %}mayo
                            {% when '6' %}junio
                            {% when '7' %}julio
                            {% when '8' %}agosto
                            {% when '9' %}septiembre
                            {% when '10' %}octubre
                            {% when '11' %}noviembre
                            {% when '12' %}diciembre
                        {% endcase %}
                        {{ page.date | date: "de %Y." }}
                    </time>
                </p>
            </header>
            {{ content }}
        </article>
    </main>
</div>
