<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mozilla Perú</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mozilla, Perú, Firefox, Web, WebVR, Rust">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/zilla-slab.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- link rel="stylesheet" href="//raw.githubusercontent.com/mozilla/mofo-bootstrap/gh-pages/dest/css/mofo-bootstrap.css" -->
    <link rel="stylesheet" href="https://mozilla.github.io/mofo-bootstrap/demo/css/demo.css">

    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ site.url }}">Mozilla Perú</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for entry in site.categories.blog %}
                            <a class="dropdown-item" href="{{ entry.url }}">{{ entry.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Proyectos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ site.baseUrl }}index#rust">Rust</a>
                        <a class="dropdown-item" href="{{ site.baseUrl }}index#webvr">WebVR</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseUrl }}involucrate">
                        Involúcrate
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Campañas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for entry in site.categories.manosalaobra %}
                            <a class="dropdown-item" href="{{ entry.url }}">{{ entry.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ site.baseUrl }}estudioweb" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Estudio Web
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for entry in site.categories.estudioweb %}
                            <a class="dropdown-item" href="{{ entry.url }}">{{ entry.year }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acerca de
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ site.baseUrl }}nosotros">Nosotros</a>
                        <a class="dropdown-item" href="{{ site.baseUrl }}equipo">Equipo</a>
                        <a class="dropdown-item" href="{{ site.baseUrl }}identidad">Identidad Visual</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

{{ content }}

    <footer class="mofo-footer">
        <div class="container">
            <ul class="list-unstyled footer-links row justify-content-center">
                <!-- li class="col-auto">
                    <a class="footer-link-info" href="#">Info</a>
                </li -->
                <li class="col-auto">
                    <a class="footer-link-github" href="https://github.com/mozillaperu">GitHub</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-twitter" href="https://twitter.com/mozillaperu">Twitter</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-info" href="https://t.me/activatemozpe">Telegram</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-facebook" href="https://www.facebook.com/MozillaPeru/">Facebook</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-cc-license" href="https://github.com/mozillaperu/mozillaperu.github.io/blob/master/LICENSE">License</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-participation-guidelines" href="https://www.mozilla.org/about/governance/policies/participation/">Participation Guidelines</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-cookies" href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-legal" href="https://www.mozilla.org/es-MX/about/legal/">Legal</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-privacy" href="https://www.mozilla.org/es-MX/privacy/websites/">Privacidad</a>
                </li>
                <li class="col-auto">
                    <a class="footer-link-donate" href="https://donate.mozilla.org/es-MX/">Donar</a>
                </li>
            </ul>
            <div class="org-info mozilla">
                <div class="logo-container">
                    <a class="logo" href="https://mozilla.org"></a>
                </div>
                <p>
                    Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good.
                    Visit us at <a href="https://mozilla.org">mozilla.org</a>.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
