<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mozilla Perú</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mozilla, Perú, Firefox, Web, WebVR, Rust">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseUrl }}assets/css/main.css" media="screen">
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Ver menú</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}">Mozilla Perú</a>
        </div>

        <nav class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="{{ site.baseUrl }}estudioweb" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Estudio Web <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for entry in site.categories.estudioweb %}
                        <li><a href="{{ entry.url }}">{{ entry.year }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Proyectos <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseUrl }}index#rust">Rust</a></li>
                        <li><a href="{{ site.baseUrl }}index#webvr">WebVR</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseUrl }}involucrate">Involúcrate</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Acerca de <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseUrl }}nosotros">Nosotros</a></li>
                        <li><a href="{{ site.baseUrl }}identidad">Identidad Visual</a></li>
                        <li><a href="{{ site.baseUrl }}equipo">Equipo</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

{{ content }}

</body>
</html>
