---
layout: default
---

<div class="container">
    <div class="row justify-content-md-center">
        <article class="col-md-10 col-md-offset-1">
            <header class="page-header">
                <h1 class="text-center">{{ page.title }} <small>{{ page.year }}</small></h1>
                <h2>{{ page.subtitle }}</h2>
            </header>
            <div>
                {{ content }}
            </div>
            <div>
                <p class="lead">
                    Los resultados completos aparecen en:
                    <a href="{{ site.baseUrl }}{{ page.pdf_link }}">{{ page.pdf_link }}</a>
                </p>
                <p class="lead">
                    Asimismo, para las personas que quieren ver los datos sin procesar:
                    <a href="{{ site.baseUrl }}{{ page.csv_link }}">{{ page.csv_link }}</a>
                </p>
            </div>
        </article>
    </div>
</div>
