<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ site.description }}">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/zilla-slab.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    {% include header.html %}

    <main class="container-fluid px-0">
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>
